:root {
  --text-blue: hsl(238, 29%, 16%);
  --test-red: hsl(14, 88%, 65%);
  --text-dkblue: hsl(240, 6%, 50%);
  --text-xdkblue: hsl(237, 12%, 33%);
  --gradient-voilet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);
  --divider-blue: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: pink solid; */
  }

@import url(https://fonts.google.com/specimen/Kumbh+Sans);

body {
  background: linear-gradient(
    var(--gradient-voilet),
    var(--gradient-blue)
  );
  background-size: 100% 100%;
  font-family: Kumbh Sans;
  border: pink solid;

  /* Note: I originally used height: 100vh, not sure why min-height is better here */
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 2em;
}

.accordion-body {
  background: white;
  margin: 0 auto;
  max-width: 300px;
  border-radius: 10%;
}

.accordion {
  padding: 2em;
}

img {
  max-width: 200px;
  display: block;
  margin: 0 auto -4em auto;
  filter: drop-shadow( 0px 20px 0px lightgrey);
}


/* Plan(mobile)
- Align the svg img with the main container
- Experiment with CSS accordion setups and consider incorporating JS
  - Use codepen
- Layout making sure the main container has correct margins
- Fine tune the details

Plan(desktop)
- 
-  */
